<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PersonalPlanner">

        <activity
            android:name=".activity.CourseFormActivity"
            android:exported="false" />

        <activity
            android:name=".activity.CourseListActivity"
            android:exported="false" />

        <activity
            android:name=".activity.TaskDetailActivity"
            android:exported="false" />

        <activity
            android:name=".activity.AddTaskActivity"
            android:exported="false" />

        <activity
            android:name=".activity.MainActivity"
            android:exported="false" />

        <activity
            android:name=".activity.RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".activity.LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".notification.ReminderReceiver"
            android:exported="false" />

        <receiver
            android:name=".notification.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
